@charset "UTF-8";

.glitch{
  color:black;
  font-size:15px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 #e88e22;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 #227ce8; 
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

body {
    max-width: 550px;
    margin: 4em auto 2em auto;
    font-family: 'Courier', sans-serif;
    background: white;
}

a {
    color: #227ce8;
    text-decoration: none;
}

.nav {
  text-align: right;
}

#name {
  font-size: 20px;
}

body p {
  font-size: 16px;
}

header {
    font-size: small;
    text-align: right;
}

article p {
    line-height: 1.5em;
}

.catalog-item {
    height: 200px;
    line-height: 180px;
}

.catalog-thumb {
    float: right;
    width: 320px;
}

img {
  width:500px;
  text-align: center;
}

.labels {
  text-align: center;
}

.center {
  text-align:center;
}
